@import "header/header.css";
@import "main/main.css";
@import "sidebar/sing-up.css";
@import "footer/footer.css";

.page {
	font-family: var(--font-main);
	font-size: var(
		--font-size-text-medium
	);
	line-height: normal;
	letter-spacing: 0.02em;
	scroll-behavior: smooth;

	margin-right: calc(
		-1 * (100vw - 100%)
	);

}

.page__body {
	color: var(--color-text);
	background-color: rgb(
		var(--color-bg)
	);
	min-height: 100vh;
	display: grid;
	grid-template-rows:
		min-content
		1fr
		min-content;
	overflow-x: hidden;
}
