<nav class="menu header__menu menu--shadow df" id="menu">
	<button
		class="burger df"
		id="burger"
		type="button"
		aria-label="menu burger open"
	>
		<span></span>
		<span></span>
		<span></span>
		<span></span>
	</button>

	<ul class="menu__list df">
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Plant pots</a>
		</li>
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Ceramics</a>
		</li>
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Tables</a>
		</li>
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Chairs</a>
		</li>
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Crockery</a>
		</li>
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Tableware</a>
		</li>
		<li class="menu__item">
			<a href="./shop.html" class="menu__link">Cutlery</a>
		</li>
	</ul>
</nav>
