<div class="container features__inner">
	<h2 class="visually-hidden">Features</h2>
	<h3 class="features__title">What makes our brand different</h3>
	<ul class="features__list df">
		<li class="features__item features__item--delivery">
			<h4 class="features__subtitle">Next day as standard</h4>
			<p class="features__description">
				Order before 3pm and get your order the next day as standard
			</p>
		</li>
		<li class="features__item features__item--checkmark">
			<h4 class="features__subtitle">Made by true artisans</h4>
			<p class="features__description">
				Handmade crafted goods made with real passion and craftsmanship
			</p>
		</li>
		<li class="features__item features__item--purchase">
			<h4 class="features__subtitle">Unbeatable prices</h4>
			<p class="features__description">
				For our materials and quality you won’t find better prices anywhere
			</p>
		</li>
		<li class="features__item features__item--sprout">
			<h4 class="features__subtitle">Recycled packaging</h4>
			<p class="features__description">
				We use 100% recycled packaging to ensure our footprint is manageable
			</p>
		</li>
	</ul>
</div>
