/* Burger */

.burger {
	position: relative;
	background-color: transparent;
	flex-direction: column;
	border: none;
	width: 16px;
	height: 16px;

	.menu.is-open &::after {
		content: "";
		position: fixed;
		inset: 0;
	}

	@media (width >= 1000px) {
		display: none;
	}
}

.burger > span {
	height: 2px;
	width: 16px;
	background-color: black;
}

/* Menu */

.menu.is-open > .menu__list {
	z-index: 10;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 25px;
	right: 0;
	gap: 15px;
	background-color: var(
		--color-bg-burger-menu
	);
	padding: 15px;

	transform: translate(0);
}
