<ul class="products__list">

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "chair2",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "chair1",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "vase1",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "vase2",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "card--large",
		card__image: "sofa",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "lamp",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "chair2",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "card--large",
		card__image: "sofa",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "chair1",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "vase1",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "vase2",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "lamp",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

	@@include("../../../components/listing/card.html", {
		card__size: "",
		card__image: "chair1",
		card__title: "The Dandy chair",
		card__price: "£125"
	})

</ul>